body{background-image:url();
margin:0;
padding:0;
background-repeat:no-repeat;
background-size:cover;
}

header{background: transparent; /* no image here */
display:flex;
justify-content:flex-end;
font-size:32px;
gap:80px;
margin-right:60px;
color:rgb(31, 167, 122);
font-family:Arial;
cursor:pointer;
}

.h1{transition:all 0.5s;}
.h2{transition:all 0.5s;}
.h3{transition:all 0.5s;}
.h4{transition:all 0.5s;}
.h5{transition:all 0.5s;}

.h1:hover{text-decoration:underline;
color:rgb(24, 240, 168);
font-size:38px;}

.h2:hover{text-decoration:underline;
color:rgb(15, 220, 152);
font-size:38px;}

.h2:hover{text-decoration:underline;
color:rgb(15, 220, 152);
font-size:38px;}

.h3:hover{text-decoration:underline;
color:rgb(15, 220, 152);
font-size:38px;}

.h4:hover{text-decoration:underline;
color:rgb(15, 220, 152);
font-size:38px;}

.h5:hover{text-decoration:underline;
color:rgb(15, 220, 152);
font-size:38px;}